[submodule "RaytracingForLife/external/glfw"]
	path = RaytracingForLife/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "RaytracingForLife/external/glm"]
	path = RaytracingForLife/external/glm
	url = https://github.com/g-truc/glm.git
